body{
    padding: 12px 16px;
    margin-left: 20px;
}

.site-title{
    font-size: 32px;
    margin-top: 20px;
    font-weight: bold;
}

.description{
    font-size: 14.5px;
}

.sidebars-containers{
    display: flex;
    gap: 100px;
}

.line-chart{
    margin:0px;
    width: 500px;
    height: 280px;
    border: solid 1px #d8e1f5;
    background-color: #f4f8fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 30px;
}

.line-chart-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.value-changer{
    font-size: 15px;
    border: 2px solid #2563EB;
    color: var(--primary-text);
    background-color: var(--primary-bg-soft);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

button:active {
    transform: translateY(2px);
    background-color: var(--primary-bg);
    color: white;
}

.line-chart-graph {
    width: 100%;
    height: 200px;
    overflow: visible;
}

.line-chart-line {
    fill: none;
    stroke: #2563eb;
    stroke-width: 3;
}

.line-chart-graph circle {
    fill: #2563eb;
}